@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #F7F5F2;
  color: #1A1916;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.font-serif {
  font-family: "DM Serif Display", serif;
}
